.ac-m-10
  margin 10px
.ac-m-t-10
  margin-top 10px
.ac-m-b-10
  margin-bottom 10px
.ac-m-l-10
  margin-left 10px
.ac-m-r-10
  margin-right 10px

.ac-p-10
  margin 10px
.ac-p-t-10
  margin-top 10px
.ac-p-b-10
  margin-bottom 10px
.ac-p-l-10
  margin-left 10px
.ac-p-r-10
  margin-right 10px